extends ../../layouts/default.pug 
include ../../mixins/pagination.pug
include ../../mixins/select-tree.pug


block main
  .box-head Quản lý danh mục sản phẩm
  .mb-3.text-end
    a.btn.btn-primary(href=prefixAdmin + '/products-category/create') Thêm danh mục sản phẩm
  table.table.table-bordered.table-striped
    thead
      tr
        th Tên danh mục
        th Mô tả
        th Trạng thái
        th Hành động
    tbody
      +category-tree(productsCategory)
  .mt-3
    +pagination(pagination)

  
  
  
  


  script(src=prefixAdmin + '/js/products.js')
