.sider
    .inner-menu 
        ul 
            li 
                a(href= prefixAdmin + '/dashboard') Tổng quan
            li 
                a(href= prefixAdmin + '/products') Sản phẩm
            li
                a(href= prefixAdmin + '/products-category') Danh mục sản phẩm
            li
                a(href= prefixAdmin + '/users') Người dùng
            li
                a(href= prefixAdmin + '/orders') Đơn hàng
    p(style="color:white")= prefixAdmin